/* Nav.css */

.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la barra */
  transition: all 0.3s ease; /* Animación de transición */
}

.navbar:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa cuando el mouse pasa */
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin: 0 15px;
}

.navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease; /* Animación al pasar el mouse */
}

.navbar-list a:hover {
  color: #ff6347; /* Color cuando el mouse pasa por encima */
  transform: scale(1.1); /* Efecto de ampliación al pasar el mouse */
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #555;
}

.menu li a.active {
  background-color: #222;
  font-weight: bold;
}
